@media only screen 
and (min-device-width: 300px)   
and (max-device-width: 649px) { 
    .dashboard {
        background-color:#D3D3D3;
        color: black;
        font-size: 12px;
        margin: auto;
        padding: 8px 16px;
        font-family: var(--custom-font);
    } 
   
    h1 {
        font-size: 16px;
    }

    .dashboard__title {
        text-shadow: 2px 1px 2px black;
        font-size: 14px;
    }

    .board {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    p {
        margin: auto;
        padding: 10% 8px 0px 8px;
        justify-content: center;
    
    }

    .calories {
        background-color: #73B9FF;
        border-radius: 50px;
        border: 1;
        color: black;
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 90px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        width: 30%;
    }

    .minutes {
        background-color: #73B9FF;
        border-radius: 50px;
        border: 1;
        color: black;
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 90px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        width: 30%;
    }

    .workouts {
        background-color: #73B9FF;
        border-radius: 50px;
        border: 1;
        color: black;
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 90px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        width: 30%;
    }

}

@media only screen 
and (min-device-width: 650px) {
    .dashboard {
        background-color:#D3D3D3;
        color: black;
        font-size: 20px;
        margin: 50px 20px 50px auto;
        padding: 8px 16px;
        font-family: var(--custom-font);
    }

    .dashboard__title {
        text-shadow: 2px 1px 2px black;
    }

    .board {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px;
        border-color: black;
        border-radius: 12px;
    }

    p {
        margin: auto;
        padding: 10% 8px 0px 8px;
        justify-content: center;
    }

    .calories {
        background-color: #73B9FF;
        border-radius: 150px;
        border: 1;
        color: black;
        display: block;
        font-size: 20px;
        font-weight: bold;
        height: 150px;
        text-align: center;
        width: 30%;
    }

    .minutes {
        background-color: #73B9FF;
        border-radius: 100px;
        border: 1;
        color: black;
        display: block;
        font-size: 20px;
        font-weight: bold;
        height: 150px;
        text-align: center;
        width: 30%;
    }

    .workouts {
        background-color: #73B9FF;
        border-radius: 100px;
        border: 1;
        color: black;
        display: block;
        font-size: 20px;
        font-weight: bold;
        height: 150px;
        margin: auto;
        text-align: center;
        width: 30%;
    }
}