@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 500px) { 
  .Workout {
    --workout-height: 88px;
    background-color: #73B9FF;
    color: black;
    height: var(--workout-height);
    margin: 4px auto;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
  }
  
  .Workout__delete {
    --workout-button-height: 32px;
    background-color: #73B9FF;
    border: 0;
    color: black;
    float: right;
    font-size: 12px;
    height: var(--workout-button-height);
    position: relative;
    top: calc((var(--workout-button-height) + 32px) * -1);
    transform-origin: right bottom;
    transform: rotate(-90deg);
    width: calc(var(--workout-height));
  }

  .Workout__delete:hover {
    background-color: #bd0909;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Workout__title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
  }

  .Workout__title a {
    color: black;
    display: block;
    text-decoration: none;
  }

  .Workout__title a:hover {
    color: #FFB72F;
  }
  
  .Workout__dates {
    bottom: 8px;
    color: black;
    font-size: 14px;
    position: absolute;
  }
}  

@media only screen 
  and (min-device-width: 501px) {

    .Workout {
        --workout-height: 88px;
        background-color: #73B9FF;
        color: black;
        height: var(--workout-height);
        margin: 4px auto;
        max-width: 520px;
        padding: 8px 0 8px 8px;
        position: relative;
    }
      
    .Workout__delete {
        --workout-button-height: 32px;
        background-color: #73B9FF;
        border: 0;
        color: black;
        float: right;
        font-size: 12px;
        height: var(--workout-button-height);
        position: relative;
        top: calc((var(--workout-button-height) + 32px) * -1);
        transform-origin: right bottom;
        transform: rotate(-90deg);
        width: calc(var(--workout-height));
    }
    
    .Workout__delete:hover {
        background-color: #bd0909;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
      
    .Workout__title {
        font-family: var(--custom-font);
        font-size: 20px;
        margin: 0;
        max-width: 80%;
        min-height: 24px;
    }
    
    .Workout__title a {
        color: black;
        display: block;
        text-decoration: none;
    }
    
    .Workout__title a:hover {
        color: #FFB72F;
    }
      
    .Workout__dates {
        bottom: 8px;
        color: black;
        font-size: 14px;
        position: absolute;
    } 
}