
.NavCircleButton {
  background-color: #cacaca;
  border-radius: 45px;
  border: 0;
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 70px;
  padding: 8px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  width: 70px;
}
  
a.NavCircleButton {
  padding: 16px 8px 8px;
}
  
.NavCircleButton:hover {
  cursor: pointer;
}
  